<div class="flex justify-center w-full">
  {{#if @match.finished}}
    {{svg-jar "lock-closed" class="w-5 h-5 text-red"}}
  {{else}}
    {{svg-jar "lock-open" class="w-5 h-5 text-lime"}}
  {{/if}}
</div>

<div class="grid grid-cols-4 md:grid-cols-8 gap-6">

  <div class="col-span-3">
    <Game::Fantasy::Fixture::Info
      @win={{@match.homeWin}}
      @team={{@match.home}}
      @picks={{@match.homePicks}}
    />
  </div>

  <Game::Fantasy::Fixture::Score
    @score={{@match.homeScore}}
    @liveScore={{@match.homeLiveScore}}
  />

  {{#if this.showDetails}}
    <div class="col-span-4 md:order-5 5">
      <Game::Fantasy::Fixture::Players
        @match={{@match}}
        @picks={{@match.homePicks}}
      />
    </div>
  {{/if}}

  <div class="col-span-3 md:text-right md:order-4">
    <Game::Fantasy::Fixture::Info
      @win={{@match.awayWin}}
      @team={{@match.away}}
      @picks={{@match.awayPicks}}
    />
  </div>

  <Game::Fantasy::Fixture::Score
    @score={{@match.awayScore}}
    @liveScore={{@match.awayLiveScore}}
  />

  {{#if this.showDetails}}
    <div class="col-span-4 md:col-start-5 md:order-6">
      <Game::Fantasy::Fixture::Players
        @match={{@match}}
        @picks={{@match.awayPicks}}
      />
    </div>
  {{/if}}

</div>

<button
  type="button"
  class="block w-full text-center text-xs text-white opacity-60 mt-2"
  {{on "click" this.toggleDetails}}
>{{if this.showDetails "Hide" "Show"}} Players</button>