<div class="flex justify-center w-full">
  {{#if @match.finished}}
    {{svg-jar "lock-closed" class="w-5 h-5 text-red"}}
  {{else}}
    {{svg-jar "lock-open" class="w-5 h-5 text-lime"}}
  {{/if}}
</div>

<div class="grid grid-cols-4 sm:grid-cols-8">

  <div class="col-span-3">
    <Game::Fantasy::Fixture::Info
      @win={{@match.homeWin}}
      @team={{@match.home}}
      @picks={{@match.home.picks}}
    />
  </div>

  <Game::Fantasy::Fixture::Score @match={{@match}} />

  {{#if this.showDetails}}
    <div class="col-span-4 sm:order-5 5 sm:mr-3">
      <Game::Fantasy::Fixture::Players
        @match={{@match}}
        @picks={{@match.home.picks}}
      />
    </div>
  {{/if}}

  <div class="col-span-3 sm:text-right sm:order-4">
    <Game::Fantasy::Fixture::Info
      @win={{@match.awayWin}}
      @team={{@match.away}}
      @picks={{@match.away.picks}}
    />
  </div>

  <div class="py-1 text-center font-bold sm:order-3">
    <div class="text-4xl">{{@match.awayScore}}</div>
    <div class="text-sm opacity-10">{{@match.away.entry_id}}</div>
  </div>

  {{#if this.showDetails}}
    <div class="col-span-4 sm:col-start-5 sm:ml-3 sm:order-6">
      <Game::Fantasy::Fixture::Players
        @match={{@match}}
        @picks={{@match.away.picks}}
      />
    </div>
  {{/if}}

</div>

<button
  type="button"
  class="block w-full text-center text-xs text-white opacity-60 mt-2"
  {{on "click" this.toggleDetails}}
>{{if this.showDetails "Hide" "Show"}} Players</button>