<table class="w-full text-xs">
  <tbody>
    {{#each @picks as |pick|}}
      <tr
        class="{{if (gt pick.position 11) 'bg-black bg-opacity-20 ' ''}}
          border-b border-white border-opacity-20"
      >
        <td
          class="align-top pl-2 py-4 text-left"
        >{{pick.player.position.singular_name_short}}</td>
        <td class="align-top py-2 text-left w-full pl-2">
          <h1 class="text-base lg:text-xl">{{pick.player.web_name}}</h1>
          <h2 class="opacity-30">{{pick.player.team.short_name}}</h2>
        </td>
        <td class="align-top py-2 text-left whitespace-nowrap w-full pl-2">
          <table class="w-full text-white opacity-30">

            <tbody>

              {{#each pick.appearance.pointsDescriptions as |desc|}}
                <tr>
                  <td>{{desc.text}}</td>
                  <td class="px-2 text-right">{{desc.points}}</td>
                </tr>
              {{/each}}

            </tbody>
          </table>

        </td>
        <td
          class="align-top py-2 text-center font-semibold text-xl whitespace-nowrap"
        >
          {{pick.appearance.total_points}}
        </td>
        <td class="align-top pl-2 pr-2 py-4">
          <div class="{{pick.appearance.color}} rounded-full h-2 w-2 my-0.5">
            <EmberTooltip @text={{pick.appearance.description}} />
          </div>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>