{{page-title "Dashboard"}}

<div class="min-h-screen flex flex-col w-full bg-black">

  <Nav />

  <Header
    @loading={{this.loading}}
    @title="Awards"
    @text="Current award winners and stats for the season"
  />

  {{#if this.loading}}

    <div class="flex flex-1 justify-center items-center p-6">

      {{svg-jar "loading-ball" class="loader w-36 h-36 text-yellow"}}

    </div>

  {{else}}

    <main class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 m-6 gap-6">

      {{#each this.awards as |award|}}
        <Card::Award
          @title={{award.title}}
          @icon={{award.icon}}
          @manager={{award.manager}}
          @value={{award.value}}
          @color={{award.color}}
          @showMore={{fn this.showAwardModal award.type}}
        />
      {{/each}}

    </main>

    <Modal @show={{this.showModal}} @close={{this.closeAwardModal}}>

      {{#if (eq this.awardModal "leader")}}

        <Award::Info::LeagueTable
          @totals={{this.leaderTotals}}
          @color="text-cyan"
        />

      {{else if (eq this.awardModal "spoon")}}

        <Award::Info::LeagueTable
          @totals={{this.spoonTotals}}
          @color="text-red"
        />

      {{else if (eq this.awardModal "lucky-man")}}

        <Award::Info::LuckyMan @totals={{this.luckyManTotals}} />

      {{else if (eq this.awardModal "flat-track-bully")}}

        <Award::Info::FlatTrackBully @totals={{this.flatTrackBullyTotals}} />

      {{else if (eq this.awardModal "asleep")}}

        <Award::Info::Asleep @totals={{this.asleepTotals}} />

      {{else if (eq this.awardModal "tinker-man")}}

        <Award::Info::TinkerMan @totals={{this.tinkerManTotals}} />

      {{else if (eq this.awardModal "bench-warmer")}}

        <Award::Info::BenchWarmer @totals={{this.benchWarmerTotals}} />

      {{else if (eq this.awardModal "changing-room")}}

        <Award::Info::ChangingRoom @totals={{this.changingRoomTotals}} />

      {{else if (eq this.awardModal "loyal")}}

        <Award::Info::Loyal @totals={{this.loyalTotals}} />

      {{else if (eq this.awardModal "goal")}}

        <Award::Info::Goal @totals={{this.cantBuyAGoalTotal}} />

      {{else if (eq this.awardModal "wasted-keeper")}}

        <Award::Info::Keeper @totals={{this.wastedKeeperTotals}} />

      {{else if (eq this.awardModal "the-wall")}}

        <Award::Info::Wall @totals={{this.theWallTotals}} />

      {{/if}}
    </Modal>

  {{/if}}
</div>