{{page-title "Live"}}
<div class="min-h-screen w-full bg-black">

  <nav label="main" class="px-6 py-2 bg-purple text-white flex justify-between">

    <h1 class="text-lg uppercase font-bold">Drafty</h1>
    <ul class="text-lg uppercase font-bold flex justify-end gap-12">
      <li>Dashboard</li>
      <li>Match Day</li>
      <li>Transfers</li>
    </ul>
  </nav>

  <header class="bg-purple text-white py-24 px-6 sm:py-32 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <h2
        class="text-4xl font-bold tracking-tight sm:text-6xl"
      >{{this.model.league.name}} Live</h2>
      <p class="mt-6 text-lg leading-8 opacity-70">The latest scores and
        standings for the current game week</p>
    </div>
  </header>

  <main class="grid grid-cols-1 xl:grid-cols-2 p-6 gap-6 3xl:grid-cols-2">

    <div class="space-y-6">

      <nav
        label="pagination"
        class="flex items-center justify-between border-t-4 border-cyan bg-purple text-white px-4 py-3 sm:px-6"
        aria-label="Pagination"
      >
        <div class="hidden sm:block">
          <p class="text-sm">
            Game Week
            {{this.model.currentGameWeek.id}}
          </p>
        </div>
        <div class="flex flex-1 justify-between sm:justify-end">
          <a
            href="#"
            class="relative inline-flex items-center rounded-md bg-cyan px-4 py-2 text-sm font-medium text-black hover:opacity-90"
          >Previous</a>
          <a
            href="#"
            class="relative ml-3 inline-flex items-center rounded-md bg-cyan px-4 py-2 text-sm font-medium text-black hover:opacity-90"
          >Next</a>
        </div>
      </nav>

      <ul class="grid grid-cols-1 gap-6">

        {{#each this.model.currentFantasyFixtures as |match|}}

          <li class="bg-purple border-t-4 border-lime text-white py-2 px-6">

            <Game::Fantasy::Fixture @match={{match}} />

          </li>

        {{/each}}

      </ul>
    </div>

    <div class="space-y-6">

      <table
        class="w-full border-t-4 border-yellow bg-purple text-white divide-y divide-white divide-opacity-20"
      >
        <thead class="">
          <tr>
            <th
              scope="col"
              class="hidden sm:block py-5 pl-4 pr-3 text-left text-sm font-semibold sm:pl-6 lg:pl-8 text-opacity-70"
            >Rank</th>
            <th
              scope="col"
              class="px-3 py-5 text-left text-sm font-semibold text-opacity-70"
            >Team</th>
            <th
              scope="col"
              class="hidden sm:block px-3 py-5 text-left text-sm font-semibold text-opacity-70"
            >+/-</th>
            <th
              scope="col"
              class="px-3 py-5 text-left text-sm font-semibold text-opacity-70"
            >Points</th>
            <th
              scope="col"
              class="px-3 py-5 text-sm font-semibold text-right text-opacity-70"
            >Week</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-white divide-opacity-20">
          {{#each this.model.fantasyStandings as |standing|}}

            <tr>
              <td
                class="hidden sm:block whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium sm:pl-6 lg:pl-8"
              >{{standing.last_rank}}</td>
              <td class="whitespace-nowrap px-3 py-4 text-sm">
                <h1
                  class="font-bold text-lg md:text-2xl"
                >{{standing.team.entry_name}}</h1>
                <h2
                  class="text-base md:text-xl opacity-70"
                >{{standing.team.player_first_name}}
                  {{standing.team.player_last_name}}</h2>
              </td>
              <td
                class="whitespace-nowrap px-3 py-4 text-sm"
              >{{standing.points_for}}</td>
              <td
                class="hidden sm:block whitespace-nowrap px-3 py-4 text-sm"
              >{{standing.total}}</td>
              <td
                class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6 lg:pr-8"
              >+3</td>
            </tr>
          {{/each}}
        </tbody>
      </table>

      <div
        class="border-t-4 border-red bg-purple text-white grid grid-cols-4 p-6 items-center divide-y divide-white divide-opacity-20"
      >
        {{#each this.model.proFixtures as |game|}}

          <div class="py-2 opacity-70">{{moment-format
              game.kickoff_time
              "ddd Do"
            }}</div>
          <div
            class="py-2 text-left font-bold text-lg md:text-2xl"
          >{{game.home.short_name}}</div>
          <div class="py-2 text-center text-3xl font-bold">
            {{game.score}}
          </div>
          <div
            class="py-2 text-right font-bold text-lg md:text-2xl"
          >{{game.away.short_name}}</div>

        {{/each}}
      </div>

    </div>
  </main>

</div>