{{page-title "Live"}}
<div class="min-h-screen w-full bg-black flex flex-col">

  <Nav />

  <Header
    @loading={{this.loading}}
    @title="Match Day"
    @text="The latest scores and standings
      for the current game week"
  />

  {{#if this.loading}}

    <div class="flex flex-1 justify-center items-center p-6">

      {{svg-jar "loading-ball" class="loader w-36 h-36 text-yellow"}}

    </div>

  {{else}}

    <main class="grid grid-cols-1 2xl:grid-cols-2 p-6 gap-6 3xl:grid-cols-2">

      <div class="space-y-6">

        <nav
          label="pagination"
          class="flex items-center justify-between border-t-4 border-cyan bg-purple text-white px-4 py-3 sm:px-6"
          aria-label="Pagination"
        >
          <div class="hidden sm:block">
            <p class="text-lg font-bold">
              Game Week
              {{this.gameWeek.id}}
            </p>
          </div>
          <div class="flex flex-1 justify-between sm:justify-end">
            <LinkTo
              @route="live"
              @query={{hash week=this.prevGameWeek}}
              class="relative inline-flex items-center rounded-md bg-cyan px-4 py-2 text-sm font-medium text-black
                {{if this.disablePrev 'opacity-50' 'hover:opacity-90'}}"
            >Previous</LinkTo>
            <LinkTo
              @route="live"
              @query={{hash week=this.nextGameWeek}}
              class="relative ml-3 inline-flex items-center rounded-md bg-cyan px-4 py-2 text-sm font-medium text-black
                {{if this.disableNext 'opacity-50' 'hover:opacity-90'}}"
            >Next</LinkTo>
          </div>
        </nav>

        <ul class="grid grid-cols-1 gap-6">

          {{#each this.gameWeekFantasyFixtures as |match|}}

            <li class="bg-purple border-t-4 border-lime text-white py-2 px-6">

              <Game::Fantasy::Fixture @match={{match}} />

            </li>

          {{/each}}

        </ul>
      </div>

      <div class="space-y-6">

        <League::Table @standings={{this.fplApi.fantasyStandings}} />

      </div>

      <div class="space-y-6">

        <Fixture::Table @fixtures={{this.gameWeekProFixtures}} />

      </div>
    </main>

  {{/if}}
</div>